.login-form {
    text-align: center;
    
}

.form-entry {
    display: block;
    margin: 15px;
}
.form-entry h2 {
    margin: 25px;
}

.form-entry input {
    width: 80%;
    height: 25px;
}

.login-banner {
    margin: auto;
    background-color: aliceblue;
    width: 40%;
}